{% extends 'base.html' %}
{% block content %}
<section class="container max-w-3xl mx-auto p-6">
    <h2 class="text-3xl font-bold mb-4">About the Digital Museum</h2>
    <p class="mb-3">Our vision is to blend culture and technology: visitors scan a code by each artifact and instantly receive rich stories, audio, and visuals on their phone.</p>
    <p class="mb-3">The Multifunctional & Immersive Cultural Hub of Regensburg is a new museum concept located in the heart of Regensburg, Bavaria. Designed as a multi-functional, interactive “pop-up museum” space, the hub aims to create a dynamic environment where residents of all ages can learn, socialize, and share culture. By transforming a long-abandoned commercial building, the project brings new life into the city center while filling a gap in Regensburg’s cultural landscape: a place that is truly interactive, ever-changing, and open to the community.
</p>
</section>
{% endblock %}